*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


                    /* body  */
body{
    min-width:100% ;
    /* background-color: #011527; */

}

                /* fin body  */
 


/* nav */

nav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 15%;
    background-color: #011527;
    position: fixed;
   
}
.containerNav{
    width: 35%;

}

img{
    height: 150px;
    width: 150px;
    border-radius: 40%;
}


ul {
    display: flex;
    width: 100%;
    gap: 40px;
    flex-direction: column;
    list-style-type: none ;
    /* background-color: black ; */
  
}

li{
    width: 100%;
    text-align: center;
      /* background-color: rgba(18, 25, 123, 0.486) ; */
      padding: 10px;
  
    
}
li a{
    font-size: 20px;
    text-decoration: none;
    color:white; 
}

ul :hover {
    background-color: rgb(22, 22, 98) ;
}

/* fin nav  */








/* session  */
.champFormSession {
display: flex;
flex-direction: column;
background-color: #011527;
padding: 20px;
border-radius: 20px;


}

.champFormSession div label{
    color: white;
}



.champFormSession div input{
    width: 100%;

}
.champFormSession div label,input{
    display: flex;
   
   


}
.sessions{
    display:flex;
    align-items:flex-start   ;
    flex-direction: column;
    width: 60%;
    gap: 20px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
  
    
      }

      
    
.formulaireSession{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

  
  
   
}
.formulaireSession form{

 width: 100% ;


        
    }



    .sessionElements{
        display: flex;
        /* align-items: center; */
      justify-content: flex-end ;
        flex-direction: row;
        width: 100%;
        gap: 10px;
    }

/* fin session  */





/* tables sessions  */

.sessions table{
    width: 100%;
  
    
   
}

 
table{
    width:60%;
    color: black;   
    /* border-collapse: collapse; */
   
    

  }
.fa-pen-to-square{
  color:white;
  }
.fa-trash-can{
  color:white;
  }

  .fa-square-plus{
    color:white;
  }
  .fa-minus{
    color:white;
  }


.champSession{
    background-color: rgba(109, 108, 15, 0.766); 
}
tr a{
    text-decoration: none;
   

}

tr .champSession:hover {
    background-color: aliceblue;
    transition: 0.5s;
}


th, td {
 
    text-align: center;
    padding: 10px;
     border-collapse: collapse;
     border: 1px solid black;
     color: white ;
     background-color: black;
    
    
    
 
 } 
 th{
    background-color: #011527 ;
 }
 

/* fin tables sessions  */












.form div select, .form div input {
    min-width: 100%;
}

.listDesStagiaire tr td a {
    color: white;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
    
  
   

}

.toutsDetailsSession{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 20px;
  
  
}
.detailsSession{
    background-color: #011527 ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}
.detailsSession h1,h2 {
    color: white;
}


.listDesStagiaire{
    display: flex;
    flex-direction: row;
   
    width: 60%;

 
}


.listDesStagiaire table th ,tr td{
    border-color: white;
}
.listProgrames table th, tr td{
    border-color: white;
}
.listProgrames{
    display: flex;
    flex-direction: row;
    /* gap: 20px;   */
    width: 60%;

}
.listProgrames table tr td form div {
display: flex;
flex-direction: row;
}


/* stagiaires */

.stagiaires{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.formulaireStagiaires{
    display: flex;
    flex-direction: column;
    background-color: #011527;
    padding: 20px;
    border-radius: 20px;
   
    
}

.formulaireStagiaires label {
    color: white;
}
.formulaireStagiaires input {
    padding: 8px;
    border-radius: 10px;
}

.formulaireStagiaires span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}



#stagiaire_submit{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}





/* fin stagiaires */



/* formateur  */

.formateurElements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* fin formateur */




/* categories */


.categoriesElements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.formulaireCategorie form div{
display: flex;
}
.forrmulaireCours form div{
display: flex;
}








/* fin categories */









.detailStagiaire{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 

}
.informationStagiaire{
    background-color:rosybrown;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;

}
.sessionPreveusStagaiire{
    background-color:rosybrown;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;

}

