* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


/* body  */
body {
    width: 100%;
    
 
}

/* fin body  */

/* ---------------formulaire login--------------- */

#formulaireLogIn {
    display: flex;
    align-items: center;
    justify-content: center;
   margin-top: 15%;
}

#formulaireLogIn form {
    
display: flex;
background-color: rgb(194, 187, 187) ;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
align-items: center;
justify-content: center;
flex-direction: column  ;
width: 15%;
border: 1px solid;
gap: 10px;
padding: 2px;
    
}
.formulaireRegister form {
    
display: flex;
background-color: rgb(194, 187, 187) ;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
align-items: center;
justify-content: center;
flex-direction: column  ;
width: 15%;
border: 1px solid;
gap: 10px;
padding: 20px;  
    
}
.pageRegister{
    background-color: red;
}


.formulaireRegister {
    display: flex;
    align-items: center;
    justify-content: center;
   margin-top: 15%;
}



/* nav */

nav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 15%;
    background-color:black;
    position: fixed;
    min-width: 50px;


}

.uil-align-center-justify {
    display: none;
}

.containerNav {
    width: 35%;

}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}


ul {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    list-style-type: none;
    /* background-color: black ; */

}

li {
    width: 100%;
    text-align: center;
    /* background-color: rgba(18, 25, 123, 0.486) ; */
    padding: 10px;


}

li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

ul :hover {
    background-color: rgb(22, 22, 98);
}

/* fin nav  */








/* session  */
.champFormSession {
    display: flex;
    flex-direction: column;
    background-color: rgb(194, 187, 187) ;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 20px;
    width: 35%;


}

.champFormSession div label {
    color: white;
}



.champFormSession div input {
    width: 100%;

}


input {
    display: flex;




}

.sessions {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    gap: 20px;
    padding: 30px;
    border: 1px solid black; 
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 


}



.formulaireSession {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100vw;
    







}

.formulaireSession form {

    width: 70%;
    display: flex;
    justify-content: center;
    margin: 50px 0px 0px 0px;




}



.sessionElements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    background: #fff;
    height: 100vh;
}

/* fin session  */





/* tables sessions  */

.sessions table {
    width: 100%;



}


table {
    width: 60%;
    /* color: black; */
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;



}

.fa-pen-to-square {
    color: rgb(0, 0, 0);
}

.fa-trash-can {
    color: rgb(0, 0, 0);
}

.fa-square-plus {
    color: rgb(0, 0, 0);
}

.fa-minus {
    color: rgb(0, 0, 0);
}

.uil-check-circle {
    color: red;
}

.uil-check {
    color: green;
}




tr a {
    text-decoration: none;


}




th,
td {

    text-align: center;
    padding: 10px;
    border-collapse: collapse;
}


tr{
    background-color: rgb(206, 206, 206);
  
}
tr:nth-child(even){
    background-color: white;
  

}


th {
   
  color: black;
}


/* fin tables sessions  */












.form div select,
.form div input {
    min-width: 100%;
}

.listDesStagiaire tr td a {
    color: white;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    gap: 10px;




}

.toutsDetailsSession {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
 gap: 20px;
   


}
.toutsPageSession{
    display: flex;
   flex-direction: column ;
   gap: 50px;
   padding-left: 25px;
   
}


.detailsSession {
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    background-color: gray;
    
}

.detailsSession h1,
h2 {
    color:black;
}


.listDesStagiaire {
    display: flex;
    flex-direction: row;
    gap: 20px;

    width: 60%;


}


.listDesStagiaire table th,
tr td {
    border-color: white;
}

.listProgrames table th,
tr td {
    border-color: white;
}

.listProgrames {
    display: flex;
    flex-direction: row;
    /* gap: 20px;   */
    width: 60%;
    gap: 20px;

}

.listProgrames table tr td form div {
    display: flex;
    flex-direction: row;
}


/* stagiaires */

.stagiaires {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.stagiaires table {
    margin-top : 10px ;
}

.formulaireStagiaires {
    display: flex;
    flex-direction: column;
    background-color: rgb(194, 187, 187) ;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 20px;
   


}

.formulaireStagiaires label {
    color: black;
}

.formulaireStagiaires input {
    padding: 8px;
    border-radius: 5px;
}

.formulaireStagiaires span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}



#stagiaire_submit {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}





/* fin stagiaires */



/* formateur  */

.formateurElements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;

}

.formateurForm {
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(194, 187, 187) ;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-bottom: 20px;
}

.formateurForm div :nth-child(3) {
    text-align: center;
    padding: 20px;
}

.formateurForm h1 {

    color: black;
    padding: 10px;
    font-size: 35px;
}
/* fin formateur */



/* categories */

.tout {
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* background-color: aqua; */

  
}

.categoriesElements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 20px;
  

}

.Formulaires {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}



.formulaireCategorie form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: rgb(194, 187, 187) ;
    padding: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}


.forrmulaireCours form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(194, 187, 187) ;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    



}

.listCategorie {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;

}





.forrmulaireCours label {
    display: flex;
    flex-direction: row;

}

.forrmulaireCours :nth-child(3) {
    text-align: center;

}

.formulaireCategorie :nth-child(2) {
    text-align: center;

}













/* fin categories */









.detailStagiaire {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.informationStagiaire {
    background-color: rosybrown;
    margin: 20px 0px 20px 0px;
    padding: 20px;
    background-color: rgb(194, 187, 187);
    box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
}

.sessionPreveusStagaiire {
    background-color: rosybrown;
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(194, 187, 187) ;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;


}

.responsive{
    display: none;
}

.accuille{
    display: none;
}


/* /------------------formations-----------/ */

.formations {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formations table {
    width: 30%;
}

td form {
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}




/* Responsive */


@media screen and (max-width: 413px) {

    table {
        max-height: 100%;
    }

    table .iconEditRemove{
       display: flex;
       justify-content: center;
       align-items: center;
    }

  
    
    
    table th {
        display: none;
    }
    
    table tr {
        display:block;
        margin-bottom: 40px;
    }

    table td {
        display: block;
        text-align: right;
    }
    
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
    tr{
        display: none;
      
    }
    tr:nth-child(even){
      display: none;
      
    
    }
    

    
    

    .sessionElements {
        /* background-color: #011527; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 100vw;
       min-height: 100vh;
    }

    body {
        max-width: 100%;
        /* background-color: #2368a3; */
    }

    .uil-align-center-justify {
        display: block;
        margin-left: 22%;
    }

    .sessions {
        width: 100%;
        min-height: 100vh;
        border: none;


    }

    nav .navOpenBtn {
        color: red;
        left: 210px;
        position: absolute;
        top: 50px;
    }

    nav.openNav {
        left: 0px;

    }

    nav.openNav .navOpenBtn {
        display: none;
    }

    .navClose {
        top: 10px;
        position: absolute;
        left: 160px;
        color: red;
        font-size: 20px;
    }

    nav {
        width: 50%;
        left: -200px;

        transition: all 0.4s ease;

    }

    .nav-links {
        left: 0;
    }


    .formulaireSession {
        width: 100%;
        /* background-color: red; */



    }

    .formulaireSession form {

        width: 100%;
        display: flex;
        justify-content: center;


        
    }
    
    .champFormSession {
        width: 70%;
        
    }
    
    
    
        /* session show */
    
         .listDesStagiaire {
           
            display: flex;
            width: 100%;
           
        }

        .listProgrames{
           
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 10px;

        } 
      
    
        
                




       /* ----------tableau  show session --------------------  */
    
    

 .listDesStagiaire {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 0px 20px 0px;
    }

.listestagiairesInscrits   {
    width: 100%;
} 
    
    .listestagiairesInscrits tr {
        margin-bottom: 0 ;
        display: flex;
    }
    
    .listestagiairesInscrits th {
        display :flex ;   
        width: 100%;
        justify-content: center;
    }
    
    .listestagiairesInscrits td {
        display :flex ; 
        width: 100%;  
        justify-content: center;
    }

    .listestagiairesNonInscrits   {
        width: 100%;
    } 
    
    
    .listestagiairesNonInscrits tr {
        margin-bottom: 0 ;
        display: flex;
    }
    
    .listestagiairesNonInscrits th {
        display :flex ;   
        width: 100%;
        justify-content: center;
    }
    
    .listestagiairesNonInscrits td {
        display :flex ; 
        width: 100%;  
        justify-content: center;
    }


    .listeCoursprogrammees   {
        width: 100%;
    } 
    .listeCoursprogrammees tr {
        margin-bottom: 0 ;
        display: flex;
    }
    
    .listeCoursprogrammees th {
        display :flex ;   
        width: 100%;
        justify-content: center;
       align-items: center;
    }
    
    .listeCoursprogrammees td {
        display :flex ; 
        width: 100%;  
        justify-content: center;
        font-size: 10px;
        text-align: center;
    }




    .listeCoursNonprogrammees   {
        width: 100%;
    } 
    .listeCoursNonprogrammees tr {
        margin-bottom: 0 ;
        display: flex;
        width: 100%;
      
    }
    
    .listeCoursNonprogrammees th {
        display :flex ;   
        width: 100%;
        justify-content: center;
      
    }
    
    .listeCoursNonprogrammees td {
        display :flex ; 
        width: 100%;  
        justify-content: center;
        font-size: 10px;
    }
   


    /* --------------------------------------- */
    

    /* categorie */


    .tout {
        display: flex;
        gap: 20px;
        flex-direction: column;
      
    width: 100%;
      
    }

    .listCategorie{
        width: 100%;
    }
    .listCategorie table   {
        width: 100%;
    } 
    .listCategorie table tr {
        margin-bottom: 0 ;
        display: flex;
    }
    
    .listCategorie table th {
        display :flex ;   
        width: 100%;
        justify-content: center;
      
    }
    
    .listCategorie table td {
        display :flex ; 
        width: 100%;  
        justify-content: center;
        max-width: 50%;
        text-align: center;
    }
    .Formulaires{
        display: flex;
        flex-direction: column;
    }

    .responsive{
        display: block;
        width: 100%;
        text-align: center;
        color: black;
    }

    .listCategorie{
        display: flex;
        flex-direction: column;
    
    }


    /* ------------------------------- */




    /* stagiaires */




.stagiaires table   {
    width: 100%;
} 
.stagiaires table tr {
    margin-bottom: 0 ;
    display: flex;
}

.stagiaires table th {
    display :flex ;   
    width: 100%;
    justify-content: center;
  
}

.stagiaires table td {
    display :flex ; 
    width: 100%;  
    justify-content: center;
    max-width: 50%;
    text-align: center;
}



    /* ---------------------------------- */

    /* formateurs */




.formateurElements table   {
    width: 100%;
} 
.formateurElements table tr {
    margin-bottom: 0 ;
    display: flex;
}

.formateurElements table th {
    display :flex ;   
    width: 100%;
    justify-content: center;
  
}

.formateurElements table td {
    display :flex ; 
    width: 100%;  
    justify-content: center;
    max-width: 50%;
    text-align: center;
}



    /* ---------------------------------- */



}



@media screen and (min-width: 1490px) {

    .toutsPageSession {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

}

@media screen and (min-width: 1425px) {

    .toutsPageSession {
        display: flex;
        flex-direction: column;
        gap: 150px;
    }

}
@media screen and (max-width: 500px) {

    nav {
        width: 40%;
        left: -200px;
background-color: rgba(0, 0, 0, 0.668);
        transition: all 0.4s ease;

    }
    
    
    .accuille{
        display: block;
        text-align: center;
        padding: 50px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        font-size: 50px;


    }
    table {
        max-height: 100%;
    }

    table .iconEditRemove{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    
    
    table th {
        display: none;
    }
    
    table tr {
        display:block;
        margin-bottom: 40px;
    }

    table td {
        display: block;
        text-align: right;
    }
    
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
    

    .sessions{
        border-radius: 0px;
        background-color: none;
        box-shadow: none     ; 
    }
    

    .sessionElements {
        /* background-color: #011527; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 100vw;
        /* background-color: #2368a3; */
    }

    body {
        max-width: 100%;
        /* background-color: #2368a3; */
  
    }

    .uil-align-center-justify {
        display: block;
        margin-left: 22%;
    }

    .sessions {
        width: 100%;
        min-height: 100vh;
        border: none;


    }

    nav .navOpenBtn {
        color: red;
        left: 210px;
        position: absolute;
        top: 50px;
    }

    nav.openNav {
        left: 0px;

    }

    nav.openNav .navOpenBtn {
        display: none;
    }

    .navClose {
        left: 110px;
    }


    .nav-links {
        left: 0;
    }


    .formulaireSession {
        width: 100%;
        /* background-color: red; */



    }

    .formulaireSession form {

        width: 100%;
        display: flex;
        justify-content: center;


        
    }
    
    .champFormSession {
        width: 70%;
        
    }
    
    
    
        /* session show */
    
         .listDesStagiaire {
           
            display: flex;
            width: 100%;
           
        }

        .listProgrames{
           
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 10px;

        } 
      
    
        
                




       /* ----------tableau  show session --------------------  */
    
    

 .listDesStagiaire {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 0px 20px 0px;
    }

.listestagiairesInscrits   {
    width: 100%;
} 
    
    .listestagiairesInscrits tr {
        margin-bottom: 0 ;
        display: flex;
    }
    
    .listestagiairesInscrits th {
        display :flex ;   
        width: 100%;
        justify-content: center;
    }
    
    .listestagiairesInscrits td {
        display :flex ; 
        width: 100%;  
        justify-content: center;
    }

    .listestagiairesNonInscrits   {
        width: 100%;
    } 
    
    
    .listestagiairesNonInscrits tr {
        margin-bottom: 0 ;
        display: flex;
    }
    
    .listestagiairesNonInscrits th {
        display :flex ;   
        width: 100%;
        justify-content: center;
    }
    
    .listestagiairesNonInscrits td {
        display :flex ; 
        width: 100%;  
        justify-content: center;
    }


    .listeCoursprogrammees   {
        width: 100%;
    } 
    .listeCoursprogrammees tr {
        margin-bottom: 0 ;
        display: flex;
    }
    
    .listeCoursprogrammees th {
        display :flex ;   
        width: 100%;
        justify-content: center;
       align-items: center;
    }
    
    .listeCoursprogrammees td {
        display :flex ; 
        width: 100%;  
        justify-content: center;
        font-size: 10px;
        text-align: center;
    }




    .listeCoursNonprogrammees   {
        width: 100%;
    } 
    .listeCoursNonprogrammees tr {
        margin-bottom: 0 ;
        display: flex;
        width: 100%;
      
    }
    
    .listeCoursNonprogrammees th {
        display :flex ;   
        width: 100%;
        justify-content: center;
      
    }
    
    .listeCoursNonprogrammees td {
        display :flex ; 
        width: 100%;  
        justify-content: center;
        font-size: 10px;
    }
   


    /* --------------------------------------- */
    

    /* categorie */


    .tout {
        display: flex;
        gap: 20px;
        flex-direction: column;
      
    width: 100%;
      
    }

    .listCategorie{
        width: 100%;
    }
    .listCategorie table   {
        width: 100%;
    } 
    .listCategorie table tr {
        margin-bottom: 0 ;
        display: flex;
    }
    
    .listCategorie table th {
        display :flex ;   
        width: 100%;
        justify-content: center;
      
    }
    
    .listCategorie table td {
        display :flex ; 
        width: 100%;  
        justify-content: center;
        max-width: 50%;
        text-align: center;
    }
    .Formulaires{
        display: flex;
        flex-direction: column;
    }

    .responsive{
        display: block;
        width: 100%;
        text-align: center;
        color: black;
    }

    .listCategorie{
        display: flex;
        flex-direction: column;
    
    }


    /* ------------------------------- */




    /* stagiaires */




.stagiaires table   {
    width: 100%;
} 
.stagiaires table tr {
    margin-bottom: 0 ;
    display: flex;
}

.stagiaires table th {
    display :flex ;   
    width: 100%;
    justify-content: center;
  
}

.stagiaires table td {
    display :flex ; 
    width: 100%;  
    justify-content: center;
    max-width: 50%;
    text-align: center;
}



    /* ---------------------------------- */

    /* formateurs */




.formateurElements table   {
    width: 100%;
} 
.formateurElements table tr {
    margin-bottom: 0 ;
    display: flex;
}

.formateurElements table th {
    display :flex ;   
    width: 100%;
    justify-content: center;
  
}

.formateurElements table td {
    display :flex ; 
    width: 100%;  
    justify-content: center;
    max-width: 50%;
    text-align: center;
}

















}
@media screen and (min-width: 500px) and (max-width:1350px)
 {
    .toutsPageSession {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 25vw;
        align-items: center;

    }

  
    .sessions {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        padding: 30px;
        border: 0px solid black;
        border-radius: 10px;
    }
   
    .formulaireSession form {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 50px 0px 200px 0px;
    }
  #session_formation{
    max-width: 100%;
  }  
  #session_reference{
    max-width: 100%;
  }  
  .stagiaires {
    padding-left: 17vw;
}
.tout {

    padding-left: 17vw;
}
.formateurElements {
    padding-left: 17vw;
}
.detailStagiaire {
    padding-left: 17vw;
}
.detailsSession {
  
    border-radius: 0px;
    padding-left: 15vw;
}


.listDesStagiaire {
    padding-left: 5vw;
    width: 70%;

}





}




