*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
form {
   border: 1px solid;
   padding: 20px;
   width: 20%;
  
}

h1{
    width: 100%;
    text-align: center;
}

.formChamp{
    display: flex;
    align-items: center;
    justify-content: center;
   
   
}



.form div select, .form div input {
    min-width: 100%;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
    
  
   

}

body{
    min-width:100vw ;
  background-color: aqua;



}

nav {
   display: flex;
   align-items: center;
   justify-content:center ;
   background-color:rgb(228, 38, 98) ;
   width: 60%;
   margin-top: 3%;

   border-radius: 20px;
}
.containerNav{
    width: 100%;
    display: flex;
    align-items: center;
   justify-content: center;
   margin: 20px;
}
nav a {
    color: white;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
  
}
li a{
    font-size: 20px;
    text-decoration: none;
    
}



 th, td {
 
     text-align: center;
     padding: 10px;
      border-collapse: collapse;
      border: 1px solid white;
      /* border: 0px; */
      background-color: black;
      
     
  
  } 
  th{

    background-color: rgb(178, 79, 122);
   
  }
  
  table{
    /* background-color: #010000da; */
    width:60%;
    /* border-radius: 0px 0px 20px 20px; */
    color: white;
    border-collapse: collapse;


    
  }
.fa-pen-to-square{
  color: white;
  }
.fa-trash-can{
  color: white;
  }
 .champFormation{
    /* border-radius: 0px 0px 0px 20px; */
    background-color: rgb(178, 79, 122);
   
 }

.champSession{
    background-color: rgba(239, 238, 198, 0.766); 
}
tr a{
    text-decoration: none;
    color: rgb(0, 1, 2);

}

tr .champSession:hover {
    background-color: aliceblue;
    transition: 0.5s;
}
  .sessions
  {

display:flex;
align-items:center ;
justify-content: center;
flex-direction: column;
margin: 2%;
  }


.listePrograme
{
    width: 24%;

}






h2{
    background-color:rgb(228, 38, 98) ;
    width: 60%;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;

  

}

.enCours , .aVenir {
    margin-top: 20px;

}



