{% extends 'base.html.twig' %}

{% block title %}Hello CoursController!{% endblock %}

{% block body %}
 <h1>programe</h1>
 {% for cours in Cours %}
 <table>
     <tr>
          <th>Nom Cours</th>
          <th>Nom categorie</th>
          
     </tr>
     <tr>

  <td>{{ cours.nomCours }}</td>
  <td>{{ cours.categorie }}</td>
     </tr>

 </table>
 
      
 {% endfor %}
{% endblock %}
